
.container {
    max-width: 600px;
    margin: 0.5 auto;
    padding: 20px;
    background-color: #cacfe7;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .gender-radio {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .gender-radio label {
    margin: 0; }
  
  .error {
    color: red;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Styling for success and error messages */
.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}

.error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}
  
  
  